@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap");

/**
 * Widget styles
 */
.erfgoedkit-widget {
    font-family: "Roboto", sans-serif;
    padding: $gap-m $gap-ml;

    border-radius: 20px;
    background-color: $color-white;

    box-shadow: 0 -0.1px 2.3px rgba(0, 0, 0, 0.009),
        0 0.3px 5.8px rgba(0, 0, 0, 0.017), 0 1.5px 11.9px rgba(0, 0, 0, 0.031),
        0 4px 24.5px rgba(0, 0, 0, 0.053), 0 11px 67px rgba(0, 0, 0, 0.11);
}

.erfgoedkit-widget {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input {
        color: $color-black;
    }
}

[data-larger-size="true"] .erfgoedkit-widget {
    padding: $gap-l $gap-xl;
}

/**
 * Widget global classes
 */
.erfgoedkit-widget__sr-only {
    position: absolute;
    overflow: hidden;
    margin: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: auto;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

/**
 * Widget header
 */
.erfgoedkit-widget__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.2rem;
}
.erfgoedkit-widget__title {
    margin: 0 1rem 0 0;
    padding: 0;
    width: 165px;
    font-size: 1rem;
    color: $color-primary;
    font-weight: 400;
}
.erfgoedkit-widget__sub-title {
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
}
[data-larger-size="true"] .erfgoedkit-widget__sub-title {
    font-size: 22px;
    transform: translateY(-3px);
}
.erfgoedkit-widget__img {
    color: $color-primary;
}

/**
 * Widget form elements layout
 */
.erfgoedkit-widget__form-inner {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -1rem;
}
.erfgoedkit-widget__form-item,
.erfgoedkit-widget__submit {
    flex-basis: calc(100% - 2rem);
    flex-grow: 1;
    flex-shrink: 0;
    margin: 2rem 1rem 0;
}

[data-larger-size="true"] .erfgoedkit-widget__form-item,
[data-larger-size="true"] .erfgoedkit-widget__submit {
    min-width: 300px;
    flex-basis: calc(33% - 2rem);
}

/**
 * Widget ...
 */
.erfgoedkit-widget__form-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

/**
 * Widget submit
 */
.erfgoedkit-widget__submit {
    padding: 0.8rem 2.5rem;

    text-align: center;
    font-size: 14px;
    line-height: 1;

    color: white;
    background-color: $color-primary;
    border-radius: 50px;
    border: 3px solid $color-primary;
    transition: 0.3s ease-in-out border-color, 0.3s ease-in-out background-color;
    font-family: inherit;
}
.erfgoedkit-widget__submit:hover,
.erfgoedkit-widget__submit:focus {
    cursor: pointer;
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
}

/**
 * Widget label etc.
 */
/**
 * Select
 */
.erfgoedkit-widget__label {
    margin-bottom: 0.5rem;
}
.erfgoedkit-widget__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: $gap-s $gap-xl $gap-s $gap-m;

    background-color: $color-gray-light;
    border: none;
    line-height: 1;
    font-size: 14px;
}
[data-larger-size="true"] .erfgoedkit-widget__input {
    // Align height of input with button input
    padding: $gap-m $gap-xl $gap-m $gap-m;
}

.erfgoedkit-widget__input:hover,
.erfgoedkit-widget__input:focus {
    background-color: $color-gray;
    cursor: pointer;
}
.erfgoedkit-widget__input:focus {
    outline: 2px solid $color-gray-dark;
}

// Select icon
.erfgoedkit-widget__input-icon {
    width: $gap-m;
    height: $gap-m;
    pointer-events: none;
    position: absolute;
    bottom: $gap-s;
    right: $gap-m;
    transform: rotate(90deg);
}
[data-larger-size="true"] .erfgoedkit-widget__input-icon {
    bottom: $gap-m;
}
