/*
 * Gaps
 */
$gap-xxxs: 0.1rem;
$gap-xxs: 0.3rem;
$gap-xs: 0.5rem;
$gap-s: 0.8rem;
$gap-m: 1rem;
$gap-ml: 1.25rem;
$gap-l: 2rem;
$gap-xl: 2.5rem;
$gap-xxl: 3.125rem;
$gap-xxxl: 4.8375rem;
$gap-xxxxl: 5.6rem;

/*
 * Colors
 */
$color-white: #fff;
$color-white-off: #f7f7f7;
$color-black: #222928;

$color-gray-lighter: #f3f5f4;
$color-gray-light: #f3f5f4;
$color-gray: #e8ebea;
$color-gray-dark: #c1cac8;
$color-gray-darker: #838d8b;
$color-gray-darkest: #6d7170;

$color-primary: #307d71;
$color-primary-dark: #105e52;
$color-secondary: #fa5200;

$color-background: $color-white-off;
